<div id="aboutcontainer">
      
  <header>

  <img id = "logo" src="images/logo.jpg" width= "200"  />
    
    <nav>
      <ul class="nav">
        <li> <a href="/home">Home</a> </li>
        <li> <a href="/about">About</a> </li>
        <li> <a href="/gallery">Gallery</a> </li>
        <li> <a href="/contact">Contact</a> </li> 
      </ul>
    </nav>
    
  </header>

<div id="aboutcontentcontainer">
					    
  <a href="#" onmouseover="imgOverAbout('aboutcontainer')" onmouseout="imgOutAbout('aboutcontainer')">  
  <h2>Welcome to HighLife Resorts</h2>
  </a>
		
</div > <!-- End of contentcontainer -->

<img class="aboutpicright1" src="/images/smoker3.jpg" width="300">

<img class="aboutpicright2" src="/images/smoker.jpg" width="300">

<img class="aboutpicright2" src="/images/smoker4.jpg" width="300"> 

<div id="abouttext2container">

  <h1>HighLife Resorts</h1>    

  <h2>A World Apart</h2>

  <p>
    Try it, taste it, dance to it, relax to it. All inclusive luxury means everything is included and nothing is out of reach.
  </p>

  <p>
  From the mini bar offerings in your room and the premium cocktails at the swim-up bar to 24-hour room service options, Excellence is five star luxury with exceptional amenities.
  </p>

  <p>
  Set your agenda with daily activities and nightly entertainment. Or slow down time by reveling in the quiet moments in between. You are free to make the most of your time here and explore the potential of ery moment.
  </p>

  <p>
  Here's a sampling of the services and amenities included in your deluxe all inclusive Excellence vacation.
  </p>

  <h2>Included</h2>

  <ul>
    <li>Special champagne cocktail and chilled towel</li>

    <li>Full gourmet breakfast, lunch, dinner and snacks each day, both buffet and menu service options available</li>

    <li>Unlimited international premium and domestic alcoholic beverages</li>
    <li>Unlimited natural fruit juices and soft drinks</li>
    <li>24-hour room service</li>
    <li>Mini-bar in room stocked daily with water, juices, soft
        drinks, beer and snacks</li>
    <li>In-room amenities including bathrobes, slippers, coffee/tea maker, laptop-size electronic in-room safe, hairdryer, iron, twice-daily housekeeping service and more</li>
    <li>Pool and beach waiter service Nightly entertainment</li>
    <li>Clinics</li>
    <li>Game room</li>
    <li>Library</li>
    <li>Daily activities including aerobics, water aerobics, water polo, yoga, jogging, Spanish lessons, dancing lessons, cooking lessons, theme nights, beach volleyball, beach football, tennis, basketball, bicycles, table tennis, darts, billiards, board games, archery, air rifle shooting.</li>
  </div>

    <footer>
        "Stay High, Stay Happy, Stay Young..."
    </footer>
</div>
