<div class="contactcontainer">

      <header>

      <img id = "logo" src="images/logo.jpg" width= "200"/>
    
          <nav>
            <ul class="nav">
              <li> <a href="/home">Home</a> </li>
              <li> <a href="/about">About</a> </li>
              <li> <a href="/gallery">Gallery</a> </li>
              <li> <a href="/contact">Contact</a> </li> 
            </ul>
          </nav>
    
      </header>

      <div class="contacttext">


            <form action="/contact" method="Post">

                  <div id="contactform1">
                            
                        <fieldset>

                              <legend><h3>Personal Info</h3></legend>
                              
                              First Name
                              <label for ="name"></label>
                              <input type="text" name="name" size="50ß" autofocus="flag"/> <br>
                              
                              <!-- Last Name
                              <label for="lastname"></label>
                              <input type="text" name="lname" size="50"/><br> -->
                              
                              Email Address
                              <label for="email"></label>
                              <input type="text" name="email" size="50"/><br><br>
                              
                              Address
                              <label for="Address"></label><br>
                              <input type="text" name="address" size="50"/>
                              <input type="text" name="city" placeholder="City" size="24"/> 
                              <input type="text" name="state" placeholder="State" size="24"/>
                              <p><input type="text" name="zip" placeholder="zipecode"/></p>
                              
                              <label>Telephone Number </p>
                              <input type="text" name="tnumber" placeholder="000-000-0000" size="50"/>

                        </fieldset>

                  </div> <!-- contactform1 -->

                  <div id="contactform2">
                  
                        <fieldset>
                              <legend><h3>Comments</h3></legend>
                              <textarea rows="20" cols="60" name="comments"></textarea>
                        </fieldset>
                      
                        <input class="submit" type="submit" placeholder="Send"/> 
                        <input type="reset" placeholder="Reset" />

                  </div> <!-- contactform2 -->

            </form>

      </div> <!-- end of contacttext div -->

      <footer>
            "Stay High, Stay Happy..."
  
      </footer>


</div>


