

<div id="homecontainer">
  <header>

  <img id = "logo" src="images/logo.jpg" width= "200"  />
    
    <nav>
      <ul class="nav">
        <li> <a href="/home">Home</a> </li>
        <li> <a href="/about">About</a> </li>
        <li> <a href="/gallery">Gallery</a> </li>
        <li> <a href="/contact">Contact</a> </li> 
      </ul>
    </nav>
    
  </header>
      
  <div id="hometitlecontainer">

    <a href="#" onmouseover="imgOverHome('homecontainer')" onmouseout="imgOutHome('homecontainer')">
    
    <h2>Welcome to Highlife Resorts</h2>
    </a>

  </div> <!-- End of hometitlecontainer -->

  <div id="hometext">
    <h2> Relax. Rejuvenate. Reconnect.</h2>
    <p>  
      Indulge yourself in a getaway that soothes the body and mind. HighLife Resorts feature some of the world's most luxurious spas. Choose a treatment of your choice, or a full day of pampering. Search for available dates, locations and rates.
    </p>
  </div>
</div>
